/* .back::before {
    content: "";
    background-image: url("../../images/welcome-bg.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    filter: blur(2px);
    position: absolute;
    top: 0;
    left: 0;
} */

html {
    overflow-x: hidden;
    background-color: coral;
}

.view {
    width: 100vw;
    height: 100vh;
}

.viewSSHeader {
    width: 100vw;
    height: 90vh;
}

.midView {
    width: 100vw;
    height: 50%;
}

.white {
    color: aliceblue;
}

.title {
    font-size: 8vw;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 90vw;
}

.beachButton {
    padding: 10px 20px 10px 20px;
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 30px;
    border-style: none;
    cursor: pointer;
    color: white;
}

.bbred {
    background: linear-gradient(to right, #FF3333, #FFAA55);;
}

.bbgreen {
    background: linear-gradient(to right, #22FF44, #22AAAA);;
}

.present {
    background-color: #FF3333;
    height: 100%;
}

.big-resp {
    font-size: 2vw;
}

.imgVert {
    width: 100%;
    height: 100%;
}

.bg-black {
    background-color: black;
}