html {
    background-image: url("../../images/welcome-bg.jpg");
    background-position: fixed;
    background-size: cover;
}

.firstViewGrid {
    width: 100vw;
    height: 100vh;
}

.white {
    color: aliceblue;
}

.title {
    font-size: 5em;
}